.new__input___1rrh9 {
    border: 1px solid #fff;
    padding: 8px 16px;
    margin: 24px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid transparent;
}

.new__input___1rrh9:focus {
  outline: none;
  border: 3px solid pink;
}

.new__userSelector___CZV9z {
  background-color: coral;
  margin: 48px;
}

.new__foundUser___1H4nv {
    text-align: center;
    border: none;
    border-bottom: 1px solid pink;
    padding: 16px;
    display: block;
    background-color: transparent;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.new__foundUser___1H4nv:first-of-type {
  border-top: 1px solid pink;
}

.new__foundUser___1H4nv:hover {
  color: #fff;
}

.new__foundUser___1H4nv:focus {
  outline: none;
}

.new__number___1f_VH {
  border: none;
  padding: 16px;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  cursor: pointer;
}

.new__number___1f_VH:focus {
  outline: none;
}

.new__progress___2eiJa {
  display: block;
  margin-top: 24px;
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.new__submitButton___2KS1F {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.new__submitButton___2KS1F:focus {
  outline: none;
}

.new__submitButton___2KS1F:hover {
  color: #fff;
}

.new__commentWrapper___3ovAt {
  display: flex;
  flex-direction: column;
}

.new__commentWrapper___3ovAt textarea {
  border: 3px solid hotpink;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
  resize: vertical;
}

.new__commentWrapper___3ovAt textarea:focus {
  outline: none;
  border-color: #fff;
}

.new__selectedMood___2Cz-b {
  background-color: black !important;
  color: white;
}

.new__pendingStatus___3ze5y {
}

.new__errorStatus___397mT {
  background-color: red;
}

.new__successStatus___2HLz8 {
  background-color: green;
}
body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.wrapper__wrapper___U2M9E {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.wrapper__title___2oxFf {
    display: block;
    background-color: #fff;
    padding: 8px 16px;
    margin: 0 16px;
    color: #000;
    text-decoration: none;
}

.wrapper__navBar___u7FFf {
  display: flex;
}

svg {
  width:100%;
  height: 600px;
  margin-top: 48px;
}

#moodPath {
  stroke: #fff;
  stroke-width: 4;
  fill: none;
}

.leftAxis path {
  display: none;
}

.leftAxis line {
  display: none;
}

.leftAxis text {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
}

.bottomAxis path {
  display: none;
}

.bottomAxis line {
  display: none;
}

.bottomAxis text {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}