.input {
    border: 1px solid #fff;
    padding: 8px 16px;
    margin: 24px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid transparent;
}

.input:focus {
  outline: none;
  border: 3px solid pink;
}

.userSelector {
  background-color: coral;
  margin: 48px;
}

.foundUser {
    text-align: center;
    border: none;
    border-bottom: 1px solid pink;
    padding: 16px;
    display: block;
    background-color: transparent;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.foundUser:first-of-type {
  border-top: 1px solid pink;
}

.foundUser:hover {
  color: #fff;
}

.foundUser:focus {
  outline: none;
}

.number {
  border: none;
  padding: 16px;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  cursor: pointer;
}

.number:focus {
  outline: none;
}

.progress {
  display: block;
  margin-top: 24px;
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.submitButton {
  composes: progress;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.submitButton:focus {
  outline: none;
}

.submitButton:hover {
  color: #fff;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
}

.commentWrapper textarea {
  border: 3px solid hotpink;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
  resize: vertical;
}

.commentWrapper textarea:focus {
  outline: none;
  border-color: #fff;
}

.selectedMood {
  background-color: black !important;
  color: white;
}

.pendingStatus {
  composes: progress;
}

.errorStatus {
  composes: progress;
  background-color: red;
}

.successStatus {
  composes: progress;
  background-color: green;
}
